{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "MongodbDataAPI-general",
    "description": "MongodbDataAPI-general"
  },
  "host": "data.mongodb-api.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/app/yourDataAPIAppID/endpoint/data/beta/action/insertOne": {
      "post": {
        "summary": "Insert Document",
        "description": "Using the `/insertOne` endpoint, you can add a document to a collection. Use the `document` property in the request body to specify the document that should be created.",
        "operationId": "InsertDocument",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "",
            "description": "api-key"
          },
          {
            "name": "Access-Control-Request-Headers",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "Access-Control-Request-Headers"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "dataSource": {
                  "type": "string",
                  "description": "dataSource"
                },
                "database": {
                  "type": "string",
                  "description": "database"
                },
                "collection": {
                  "type": "string",
                  "description": "collection",
                  "title": ""
                },
                "document": {
                  "type": "object",
                  "properties": {},
                  "description": "document"
                }
              },
              "default": {
                "dataSource": "",
                "database": "",
                "collection": "",
                "document": {}
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "dataSource": {
                  "type": "string",
                  "description": "dataSource"
                },
                "database": {
                  "type": "string",
                  "description": "database"
                },
                "collection": {
                  "type": "string",
                  "description": "collection"
                },
                "document": {
                  "type": "object",
                  "properties": {},
                  "description": "document"
                }
              }
            }
          }
        }
      }
    },
    "/app/yourDataAPIAppID/endpoint/data/beta/action/deleteOne": {
      "post": {
        "summary": "Delete Document",
        "description": "To delete a single document, use the `/deleteOne` endpoint. Use the `filter` property in the request body to specify the search criteria. If more than one document matches the criteria, only the first match will be deleted.",
        "operationId": "DeleteDocument",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "Access-Control-Request-Headers",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "Access-Control-Request-Headers"
          },
          {
            "name": "api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "",
            "description": "api-key"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "dataSource": {
                  "type": "string",
                  "description": "dataSource"
                },
                "database": {
                  "type": "string",
                  "description": "database"
                },
                "collection": {
                  "type": "string",
                  "description": "collection"
                },
                "document": {
                  "type": "object",
                  "properties": {},
                  "description": "document"
                }
              },
              "default": {
                "dataSource": "",
                "database": "",
                "collection": "",
                "document": {}
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/app/yourDataAPIAppID/endpoint/data/beta/action/findOne": {
      "post": {
        "summary": "Find Document",
        "description": "Using the `/findOne` endpoint will let you retrieve a single document from a collection. Use the `filter` property in the request body to specify the search criteria. If more than one document matches the criteria, only the first match will be returned.",
        "operationId": "FindDocument",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "",
            "description": "api-key"
          },
          {
            "name": "Access-Control-Request-Headers",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "Access-Control-Request-Headers"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "dataSource": {
                  "type": "string",
                  "description": "dataSource"
                },
                "database": {
                  "type": "string",
                  "description": "database"
                },
                "collection": {
                  "type": "string",
                  "description": "collection"
                },
                "document": {
                  "type": "object",
                  "properties": {},
                  "description": "document"
                }
              },
              "default": {
                "dataSource": "",
                "database": "",
                "collection": "",
                "document": {}
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}